<div class="tp-card">
	<h1 mat-dialog-title>Support new payment method</h1>
	<mat-card>
        <div mat-dialog-content>
         <table mat-table [dataSource]="dataSourceNoPaymentMethods" matSort>
                <ng-container matColumnDef="name">
                    <th class="set-padding" mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                    <td class="set-padding" mat-cell *matCellDef="let paymentMethod"> {{paymentMethod.name}} </td>
                </ng-container>

                <ng-container matColumnDef="subscriptionSupported">
                    <th class="set-padding" mat-header-cell mat-sort-header *matHeaderCellDef> Subscription Payment
                        Supported </th>
                    <td class="set-padding" mat-cell *matCellDef="let paymentMethod">
                        <ng-container *ngIf="paymentMethod.subscriptionSupported == false">
                            no
                        </ng-container>
                        <ng-container *ngIf="paymentMethod.subscriptionSupported == true">
                            yes
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="serviceId">
                    <th class="set-padding" mat-header-cell mat-sort-header *matHeaderCellDef> Service ID </th>
                    <td class="set-padding" mat-cell *matCellDef="let paymentMethod">
                        {{paymentMethod.applicationName}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef disabled>
                    </th>
                    <td mat-cell *matCellDef="let paymentMethod">
                    <!-- [mat-dialog-close]="paymentMethod" -->
                        <button mat-icon-button color="success" [mat-dialog-close]="paymentMethod" >
                            <mat-icon aria-label="Add payment method">add_box</mat-icon>
                        </button>
                    </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPaymentMethods"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPaymentMethods;"></tr>
            </table>
     
        </div>
   	<br/><br/>
		 </mat-card>
	<div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
</div>