<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
          <mat-card>
            <h4>Registracija citaoca</h4>
            <form [formGroup]="readerForm" (ngSubmit)="onSubmit()">
              <div *ngFor="let field of formFields">
                <label for={{field.id}}>{{field.label}}</label>
                <mat-radio-group id={{field.id}} formControlName={{field.id}} ngModel *ngIf="field.id == 'betaReaderId'">
                  <mat-radio-button *ngFor="let val of enumValues" value = {{val}}> {{field.type.values[val]}}</mat-radio-button>
                </mat-radio-group>
                <mat-select id="field.id" formControlName="{{field.id}}" multiple ngModel *ngIf="field.id === 'firstGenresListId'">
                  <mat-option *ngFor="let genre of genreValues" value = {{genre}}>{{field.type.values[genre]}}</mat-option>
                </mat-select>
              </div>
              <div mat-dialog-actions>
              <button mat-raised-button color="primary" class="pull-right">Register</button>
              </div>
            </form>
          </mat-card>

      </div>
    </div>
  </div>
</div>
