
 
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

.button {
    display: flex;
    justify-content: flex-end;
    background-color:#95c11f;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }


 