<app-navbar></app-navbar>
<div class="container py-5" style="text-align: center">
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 " style="color: teal;">Thank you for using our services</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <div>
                    <div style="text-align: center">
                        <p>You have successfully registered to our payment system.</p>
                        <p> We have sent you a verification email with verification instructions,<br />
                            please verify your email address in order to use our services. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>