<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card>
          <h3>Registracija</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div *ngFor="let field of formFields">
              <label for={{field.id}}>{{field.label}}</label>
              <input type="password" name={{field.id}} formControlName={{field.id}} class = "form-control" ngModel  *ngIf="field.id == 'passwordId'">
              <input type="text" name={{field.id}} formControlName={{field.id}} class = "form-control" ngModel  *ngIf="field.type.name=='string' && field.id !== 'passwordId'">
              <select name="field.id" formControlName={{field.id}} class = "form-control" *ngIf="field.type.name=='enum' && field.id === 'roleId'">
                <option *ngFor="let val of enumValues" value={{val}}>
                  {{field.type.values[val]}}
                </option>
              </select>
              <mat-select id="field.id" formControlName="{{field.id}}" multiple ngModel *ngIf="field.id === 'firstGenresListId'">
                <mat-option *ngFor="let genre of genreValues" value = {{genre}}>{{field.type.values[genre]}}</mat-option>
              </mat-select>
            </div>
            <div class="form-group">
              <a routerLink="/login">Already have an account? Login here.</a>
            </div>
            <button mat-raised-button color="primary" class="pull-right">Next</button>
           </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
