<div class="tp-card">
    <h1 mat-dialog-title>New payment method</h1>
    <mat-card>
        <div mat-dialog-content>

            <p>
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="data.name" type="text">
            </p>
            <p>
                <mat-label>Service ID</mat-label>
                <input matInput [(ngModel)]="data.applicationName" type="text">
            </p>
            <p>
                <mat-checkbox [(ngModel)]="data.subscriptionSupported">Subscription payment supported
                </mat-checkbox>
            </p>

        </div>

    </mat-card>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
    </div>
</div>