.wrraper {
  background-image: url("https://chinabigdata.ai/ipayrmb/images/payment.jpg");
  height: 100%;
  padding: 5em;
}

.text {
  text-align: center;
  color: teal;
  font-size: 75px;
  font-weight: 700;
  margin: 0;
}

.button {
  background-color: teal;
  color: white;
  border: 0;
  padding: 11px 54px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin: 1.5em;
}
